.results {
    display:inline-block;
    width:90%;
}

.results img {
    border-radius:10px;
    width:200px;
    height:260px;
    object-fit:cover;
    transition:0.3s;
}

.results img:hover {
    filter:brightness(115%);
}

.items {
text-align:center;
}